Prueba
=== 

Este documento es una prueba para hacer la tarea antes, ya tu sabes

In [1]:
import pandas as pd 
weather_data = {
    'dia': ['21/09/2022','23/10/2022','03/10/2022','28/06/2022','21/08/2022'],
    'temperatura':[33,28,30,30,25],
    'viento': [5,4,5,4,3],
    'evento': ['Sol', 'Lluvia', 'Nieve','Ventoso','Ventoso']
}

df = pd.DataFrame(weather_data)

df.shape
---
Muestra las dimensiones de la tabla

También se pueden mostrar la información por filas y columnas

In [18]:
fila, columna = df.shape

In [19]:
fila, columna

(5, 4)

In [20]:
df.head()

          dia  temperatura  viento   evento
0  21/09/2022           33       5      Sol
1  23/10/2022           28       4   Lluvia
2  03/10/2022           30       5    Nieve
3  28/06/2022           30       4  Ventoso
4  21/08/2022           25       3     Agua

df.head()
--
Mostrará en el jupyter notebook el Json creado, y tambien se puede indicar la cantidas de filas que se quieren mostrar

In [21]:
df.head(2)

          dia  temperatura  viento  evento
0  21/09/2022           33       5     Sol
1  23/10/2022           28       4  Lluvia

In [23]:
df.tail(2)

          dia  temperatura  viento   evento
3  28/06/2022           30       4  Ventoso
4  21/08/2022           25       3     Agua

df.tail()
---
Mostrará valores que más se repiten

In [24]:
df[2:4]

          dia  temperatura  viento   evento
2  03/10/2022           30       5    Nieve
3  28/06/2022           30       4  Ventoso

df[:] indica el rango que se va a mostrar de las filas

In [25]:
df.columns

Index(['dia', 'temperatura', 'viento', 'evento'], dtype='object')

df.columns 
---
va a mostrar las columnas que se tiene en el json

In [28]:
df.evento

0        Sol
1     Lluvia
2      Nieve
3    Ventoso
4       Agua
Name: evento, dtype: object

df.'Nombre del campo' se podrá ver los datos de ese campo

In [29]:
type(df['evento'])

pandas.core.series.Series

type()
---
se puede ver el tipo de dato que tiene el elemento que se coloca en el paréntesis

In [30]:
df

          dia  temperatura  viento   evento
0  21/09/2022           33       5      Sol
1  23/10/2022           28       4   Lluvia
2  03/10/2022           30       5    Nieve
3  28/06/2022           30       4  Ventoso
4  21/08/2022           25       3     Agua

In [4]:
df[['dia','evento']]

          dia   evento
0  21/09/2022      Sol
1  23/10/2022   Lluvia
2  03/10/2022    Nieve
3  28/06/2022  Ventoso
4  21/08/2022     Agua

poniendo df [[nombre de los campos seleccionados con comilla y separados por comas]] se va a mostrar la información de esas columnas

poniendo solo df se mostrará el data frame

In [7]:
df['temperatura'].max()

33

.max() indica el máximo valor y .min() el valor minimo

In [9]:
df['temperatura'].std()

2.949576240750525

.std() es otra de las funcionalidades

In [10]:
df.describe()

       temperatura   viento
count     5.000000  5.00000
mean     29.200000  4.20000
std       2.949576  0.83666
min      25.000000  3.00000
25%      28.000000  4.00000
50%      30.000000  4.00000
75%      30.000000  5.00000
max      33.000000  5.00000

.describe()
---
va a mostrar descripción importante del json

In [14]:
df[df.temperatura== df.temperatura.max()]

          dia  temperatura  viento evento
0  21/09/2022           33       5    Sol

condicionales
>, <, >=, <=, ==

Otras formas de comparación 
df[df.temperatura== df['temperatura'].max()]
df[df.temperatura >=30]
df['dia'][df.temperatura== df['temperatura'].max()]
df[['dia','temperatura']][df.temperatura== df['temperatura'].max()]

In [15]:
df[df.temperatura== df['temperatura'].max()]

          dia  temperatura  viento evento
0  21/09/2022           33       5    Sol

In [19]:
df[['dia','temperatura']][df.temperatura== df['temperatura'].max()]

          dia  temperatura
0  21/09/2022           33

buscar pandas series documentation

cambiar la información del index
df.index muestra la informacion 
df.set_index() la cambia, dentro del parentesis va el nuevo valor
para guardar los cambios, dentro del parentesis se colocará inplace = True

In [22]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [25]:
df.set_index('dia', inplace = True)

In [26]:
df

            temperatura  viento   evento
dia
21/09/2022           33       5      Sol
23/10/2022           28       4   Lluvia
03/10/2022           30       5    Nieve
28/06/2022           30       4  Ventoso
21/08/2022           25       3     Agua

localizar algún dato
df.loc[dato a localizar (index)]

In [30]:
df.loc['23/10/2022']

temperatura        28
viento              4
evento         Lluvia
Name: 23/10/2022, dtype: object

cambiar el index

In [35]:
df.reset_index(inplace = True)
df

   index         dia  temperatura  viento   evento
0      0  21/09/2022           33       5      Sol
1      1  23/10/2022           28       4   Lluvia
2      2  03/10/2022           30       5    Nieve
3      3  28/06/2022           30       4  Ventoso
4      4  21/08/2022           25       3  Ventoso

In [36]:
df.set_index('evento', inplace = True)
df

         index         dia  temperatura  viento
evento
Sol          0  21/09/2022           33       5
Lluvia       1  23/10/2022           28       4
Nieve        2  03/10/2022           30       5
Ventoso      3  28/06/2022           30       4
Ventoso      4  21/08/2022           25       3

In [39]:
df.loc['Ventoso']

         index         dia  temperatura  viento
evento
Ventoso      3  28/06/2022           30       4
Ventoso      4  21/08/2022           25       3

------------------------------------------------------------
Obtener Json a DataFrame

In [2]:
json = df.to_json(orient = 'table')
print(json)

{"schema":{"fields":[{"name":"index","type":"integer"},{"name":"dia","type":"string"},{"name":"temperatura","type":"integer"},{"name":"viento","type":"integer"},{"name":"evento","type":"string"}],"primaryKey":["index"],"pandas_version":"1.4.0"},"data":[{"index":0,"dia":"21\/09\/2022","temperatura":33,"viento":5,"evento":"Sol"},{"index":1,"dia":"23\/10\/2022","temperatura":28,"viento":4,"evento":"Lluvia"},{"index":2,"dia":"03\/10\/2022","temperatura":30,"viento":5,"evento":"Nieve"},{"index":3,"dia":"28\/06\/2022","temperatura":30,"viento":4,"evento":"Ventoso"},{"index":4,"dia":"21\/08\/2022","temperatura":25,"viento":3,"evento":"Ventoso"}]}