In [1]:
import pandas as pd

In [2]:
adidas = pd.read_csv("adidas.csv")

In [3]:
adidas.head(10)

,url,name,sku,selling_price,original_price,currency,availability,color,category,source,source_website,breadcrumbs,description,brand,images,country,language,average_rating,reviews_count,crawled_at
0,https://www.adidas.com/us/beach-shorts/FJ5089....,Beach Shorts,FJ5089,40,NaN,USD,InStock,Black,Clothing,adidas United States,https://www.adidas.com,Women/Clothing,Splashing in the surf. Making memories with yo...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.5,35,2021-10-23 17:50:17.331255
1,https://www.adidas.com/us/five-ten-kestrel-lac...,Five Ten Kestrel Lace Mountain Bike Shoes,BC0770,150,NaN,USD,InStock,Grey,Shoes,adidas United States,https://www.adidas.com,Women/Shoes,Lace up and get after it. The Five Ten Kestrel...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.8,4,2021-10-23 17:50:17.423830
2,https://www.adidas.com/us/mexico-away-jersey/G...,Mexico Away Jersey,GC7946,70,NaN,USD,InStock,White,Clothing,adidas United States,https://www.adidas.com,Kids/Clothing,"Clean and crisp, this adidas Mexico Away Jerse...",adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.9,42,2021-10-23 17:50:17.530834
3,https://www.adidas.com/us/five-ten-hiangle-pro...,Five Ten Hiangle Pro Competition Climbing Shoes,FV4744,160,NaN,USD,InStock,Black,Shoes,adidas United States,https://www.adidas.com,Five Ten/Shoes,The Hiangle Pro takes on the classic shape of ...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,3.7,7,2021-10-23 17:50:17.615054
4,https://www.adidas.com/us/mesh-broken-stripe-p...,Mesh Broken-Stripe Polo Shirt,GM0239,65,NaN,USD,InStock,Blue,Clothing,adidas United States,https://www.adidas.com,Men/Clothing,Step up to the tee relaxed. This adidas golf p...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,11,2021-10-23 17:50:17.702680
5,https://www.adidas.com/us/eqt-spikeless-golf-s...,EQT Spikeless Golf Shoes,FX7449,110,NaN,USD,InStock,Grey,Shoes,adidas United States,https://www.adidas.com,Women/Shoes,Put comfort first. These adidas spikeless golf...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.9,30,2021-10-23 17:50:17.783493
6,https://www.adidas.com/us/adicross-hybrid-shor...,Adicross Hybrid Shorts,GM5505,80,NaN,USD,InStock,Black,Clothing,adidas United States,https://www.adidas.com,Men/Clothing,"On the golf course, comfort is an essential co...",adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.5,17,2021-10-23 17:50:17.860269
7,https://www.adidas.com/us/tiro-21-windbreaker/...,Tiro 21 Windbreaker,GP4975,60,NaN,USD,InStock,Black,Clothing,adidas United States,https://www.adidas.com,Kids/Clothing,You can't always be a force of nature in socce...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.5,16,2021-10-23 17:50:17.942359
8,https://www.adidas.com/us/classic-3-stripes-sw...,Classic 3-Stripes Swimsuit,FS3923,40,NaN,USD,InStock,Black,Clothing,adidas United States,https://www.adidas.com,Women/Clothing,You can show your concern for the health of th...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.5,35,2021-10-23 17:50:18.136849
9,https://www.adidas.com/us/tiro-21-windbreaker/...,Tiro 21 Windbreaker,GP4967,65,NaN,USD,InStock,Black,Clothing,adidas United States,https://www.adidas.com,Men/Clothing,You can't always be a force of nature in socce...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.8,66,2021-10-23 17:50:18.581061

In [4]:
adidas.shape

(845, 20)

In [20]:
adidas.dtypes

url                object
name               object
sku                object
selling_price       int64
original_price     object
currency           object
availability       object
color              object
category           object
source             object
source_website     object
breadcrumbs        object
description        object
brand              object
images             object
country            object
language           object
average_rating    float64
reviews_count       int64
crawled_at         object
dtype: object

In [21]:
cols = ['url', 'name', 'original_price', 'currency',
       'availability', 'color', 'category', 'source', 'source_website',
       'breadcrumbs', 'description', 'brand', 'images', 'country', 'language', 'crawled_at']

In [22]:
cols_validas = []
cols_many_levels = []
cols_one_level = []

size_df = adidas.shape[0]
umbral = 0.95

In [23]:
for c_ in cols:
    nivels = adidas.loc[:, [c_]].drop_duplicates().shape[0]
    if (nivels/size_df) >= umbral:
        cols_many_levels.append(c_)
    elif nivels == 1:
        cols_one_level.append(c_)
    else:
        cols_validas.append(c_)

In [26]:
adidas.loc[:, cols_many_levels]

,url,images,crawled_at
0,https://www.adidas.com/us/beach-shorts/FJ5089....,"https://assets.adidas.com/images/w_600,f_auto,...",2021-10-23 17:50:17.331255
1,https://www.adidas.com/us/five-ten-kestrel-lac...,"https://assets.adidas.com/images/w_600,f_auto,...",2021-10-23 17:50:17.423830
2,https://www.adidas.com/us/mexico-away-jersey/G...,"https://assets.adidas.com/images/w_600,f_auto,...",2021-10-23 17:50:17.530834
3,https://www.adidas.com/us/five-ten-hiangle-pro...,"https://assets.adidas.com/images/w_600,f_auto,...",2021-10-23 17:50:17.615054
4,https://www.adidas.com/us/mesh-broken-stripe-p...,"https://assets.adidas.com/images/w_600,f_auto,...",2021-10-23 17:50:17.702680
...,...,...,...
840,https://www.adidas.com/us/supernova-plus-shoes...,"https://assets.adidas.com/images/w_600,f_auto,...",2021-10-23 17:52:31.937924
841,https://www.adidas.com/us/choigo-shoes/H00667....,"https://assets.adidas.com/images/w_600,f_auto,...",2021-10-23 17:52:32.014973
842,https://www.adidas.com/us/daily-3.0-shoes/GZ77...,"https://assets.adidas.com/images/w_600,f_auto,...",2021-10-23 17:52:32.208426
843,https://www.adidas.com/us/daily-3.0-shoes/GZ77...,"https://assets.adidas.com/images/w_600,f_auto,...",2021-10-23 17:52:32.293622
844,https://www.adidas.com/us/choigo-shoes/FY6503....,"https://assets.adidas.com/images/w_600,f_auto,...",2021-10-23 17:52:32.398104

In [27]:
adidas.loc[:, cols_one_level].drop_duplicates()

,currency,source,source_website,brand,country,language
0,USD,adidas United States,https://www.adidas.com,adidas,USA,en

In [28]:
adidas.loc[:, cols_validas]

,name,original_price,availability,color,category,breadcrumbs,description
0,Beach Shorts,NaN,InStock,Black,Clothing,Women/Clothing,Splashing in the surf. Making memories with yo...
1,Five Ten Kestrel Lace Mountain Bike Shoes,NaN,InStock,Grey,Shoes,Women/Shoes,Lace up and get after it. The Five Ten Kestrel...
2,Mexico Away Jersey,NaN,InStock,White,Clothing,Kids/Clothing,"Clean and crisp, this adidas Mexico Away Jerse..."
3,Five Ten Hiangle Pro Competition Climbing Shoes,NaN,InStock,Black,Shoes,Five Ten/Shoes,The Hiangle Pro takes on the classic shape of ...
4,Mesh Broken-Stripe Polo Shirt,NaN,InStock,Blue,Clothing,Men/Clothing,Step up to the tee relaxed. This adidas golf p...
...,...,...,...,...,...,...,...
840,Supernova+ Shoes,$120,InStock,White,Shoes,Women/Shoes,Take off. Touch down. Repeat. These adidas run...
841,Choigo Shoes,$100,InStock,White,Shoes,Women/Shoes,"If you want drama, the bold female track and f..."
842,Daily 3.0 Shoes,$50,InStock,Black,Shoes,Kids/Shoes,The style is in the details of the Daily 3.0 S...
843,Daily 3.0 Shoes,$50,InStock,Pink,Shoes,Kids/Shoes,The style is in the details of the Daily 3.0 S...
844,Choigo Shoes,$100,InStock,Black,Shoes,Women/Shoes,Take your style to bold new heights. Throw in ...

In [31]:
adidas.loc[:,["color"]].drop_duplicates()

          color
0         Black
1          Grey
2         White
4          Blue
15       Purple
16         Pink
18        Green
28       Yellow
82          Red
94   Multicolor
102        Gold
131    Burgundy
214       Beige
356      Orange
426       Multi
458   Turquoise
533      Silver
793       Brown

In [32]:
levels = adidas.groupby(["color"], as_index = False).agg({"sku" : ["count"]})

In [33]:
levels.columns = levels.columns. droplevel(1)

In [34]:
levels

         color  sku
0        Beige    6
1        Black  187
2         Blue  104
3        Brown    1
4     Burgundy    9
5         Gold    3
6        Green   59
7         Grey   81
8        Multi    4
9   Multicolor   20
10      Orange   11
11        Pink   62
12      Purple   31
13         Red   25
14      Silver    1
15   Turquoise    2
16       White  222
17      Yellow   17

In [35]:
levels["Percentage"] = levels["sku"]/adidas.shape[0]
levels.sort_values(["Percentage"], ascending = False)

         color  sku  Percentage
16       White  222    0.262722
1        Black  187    0.221302
2         Blue  104    0.123077
7         Grey   81    0.095858
11        Pink   62    0.073373
6        Green   59    0.069822
12      Purple   31    0.036686
13         Red   25    0.029586
9   Multicolor   20    0.023669
17      Yellow   17    0.020118
10      Orange   11    0.013018
4     Burgundy    9    0.010651
0        Beige    6    0.007101
8        Multi    4    0.004734
5         Gold    3    0.003550
15   Turquoise    2    0.002367
14      Silver    1    0.001183
3        Brown    1    0.001183

In [60]:
levels.sort_values(["Percentage"], ascending = True).shape

(18, 4)

In [61]:
levels["Color_t"] = "Others"

In [62]:
levels

         color  sku  Percentage Color_t
0        Beige    6    0.007101  Others
1        Black  187    0.221302  Others
2         Blue  104    0.123077  Others
3        Brown    1    0.001183  Others
4     Burgundy    9    0.010651  Others
5         Gold    3    0.003550  Others
6        Green   59    0.069822  Others
7         Grey   81    0.095858  Others
8        Multi    4    0.004734  Others
9   Multicolor   20    0.023669  Others
10      Orange   11    0.013018  Others
11        Pink   62    0.073373  Others
12      Purple   31    0.036686  Others
13         Red   25    0.029586  Others
14      Silver    1    0.001183  Others
15   Turquoise    2    0.002367  Others
16       White  222    0.262722  Others
17      Yellow   17    0.020118  Others

In [65]:
levels["Color_t"] = levels.apply(lambda r: r["color"] if r["Percentage"] >= 0.09 else r["Color_t"], axis=1)

In [66]:
levels.loc[:, ["color", "Color_t"]]

         color Color_t
0        Beige  Others
1        Black   Black
2         Blue    Blue
3        Brown  Others
4     Burgundy  Others
5         Gold  Others
6        Green  Others
7         Grey    Grey
8        Multi  Others
9   Multicolor  Others
10      Orange  Others
11        Pink  Others
12      Purple  Others
13         Red  Others
14      Silver  Others
15   Turquoise  Others
16       White   White
17      Yellow  Others

In [67]:
adidas.merge(levels, on=["color"], how="inner")

,url,name,sku_x,selling_price,original_price,currency,availability,color,category,source,...,brand,images,country,language,average_rating,reviews_count,crawled_at,sku_y,Percentage,Color_t
0,https://www.adidas.com/us/beach-shorts/FJ5089....,Beach Shorts,FJ5089,40,NaN,USD,InStock,Black,Clothing,adidas United States,...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.5,35,2021-10-23 17:50:17.331255,187,0.221302,Black
1,https://www.adidas.com/us/five-ten-hiangle-pro...,Five Ten Hiangle Pro Competition Climbing Shoes,FV4744,160,NaN,USD,InStock,Black,Shoes,adidas United States,...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,3.7,7,2021-10-23 17:50:17.615054,187,0.221302,Black
2,https://www.adidas.com/us/adicross-hybrid-shor...,Adicross Hybrid Shorts,GM5505,80,NaN,USD,InStock,Black,Clothing,adidas United States,...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.5,17,2021-10-23 17:50:17.860269,187,0.221302,Black
3,https://www.adidas.com/us/tiro-21-windbreaker/...,Tiro 21 Windbreaker,GP4975,60,NaN,USD,InStock,Black,Clothing,adidas United States,...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.5,16,2021-10-23 17:50:17.942359,187,0.221302,Black
4,https://www.adidas.com/us/classic-3-stripes-sw...,Classic 3-Stripes Swimsuit,FS3923,40,NaN,USD,InStock,Black,Clothing,adidas United States,...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.5,35,2021-10-23 17:50:18.136849,187,0.221302,Black
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840,https://www.adidas.com/us/aggies-long-sleeve-q...,Aggies Long Sleeve Quarter-Zip Knit Sweatshirt,H48154,60,$75,USD,InStock,Multi,Clothing,adidas United States,...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,5.0,1,2021-10-23 17:52:26.097508,4,0.004734,Others
841,https://www.adidas.com/us/zx-1k-boost-shoes/FX...,ZX 1K Boost Shoes,FX6865,70,$100,USD,InStock,Turquoise,Shoes,adidas United States,...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.2,77,2021-10-23 17:51:25.535763,2,0.002367,Others
842,https://www.adidas.com/us/ultraboost-dna-1.0-s...,Ultraboost DNA 1.0 Shoes,H05263,144,$180,USD,InStock,Turquoise,Shoes,adidas United States,...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.8,584,2021-10-23 17:51:37.749001,2,0.002367,Others
843,https://www.adidas.com/us/gamemode-firm-ground...,Gamemode Firm Ground Cleats,GY7535,80,$100,USD,InStock,Silver,Shoes,adidas United States,...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,24,2021-10-23 17:51:35.761152,1,0.001183,Others
844,https://www.adidas.com/us/originals-sunglasses...,Originals Sunglasses OR0032,EX4818,112,$160,USD,InStock,Brown,Accessories,adidas United States,...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,5.0,2,2021-10-23 17:52:23.193845,1,0.001183,Others